/* Zachary Nelson 06/26/2026 */
body {
background-color: #89BFF8;
color: #1a1a1a;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: #222222;
}
h2 {
color: #2c3e50;
}
p {
color: #333333
}
a {
color: #0000EE;
}
main {
    border-radius: 15px;
}
nav {
    border-radius: 15px;
}
header {
    box-shadow: 5px 5px;
}
footer {
    position: relative;
    left: 20px;
}